<% include partials/head.ejs%>


<div class="container pt-5 pb-5 contenedor-exito ">
    <div class="row ">
        <div class="col-md-12">
            <h3 class="text-center text-dark">Opss! hubo un error al enviar el mensaje... </h3>
            <p class="text-center text-dark">por favor intenta nuevamente!</p>
            <div class=" d-flex justify-content-center">
                <a href="/contacto" class="btn btn-danger ">Volver</a>
            </div>
            
        </div>
    </div>
</div>



<% include partials/footer.ejs%>