<% include partials/head.ejs%>

<title>
  <%= title %>
</title>
</head>

<body>
  <!-- header -->


  <div class="container-fluid contenedor d-flex justify-content-center" style="padding-left:0px; padding-right:0px;">

    <img src="img/imagenDeFondo.jpeg" style="width: 100%;" alt="">

    <div class="titulo">
      <% include partials/nav.ejs%>

      <h2 class="hidde-titulo"><b>Continental</b></h2>
      <div class="titulo-superior">
        <h1>Continental<b class="display-inline">ComercioExterior</b> </h1>
      </div>
      <div class="titulo-inferior">
        <p> Negocios Internacionales</p>
      </div>
    </div>

  </div>

  <!-- /header -->

  <!-- empresa -->
  <section class="parallax">
    <div class="container-fluid nosotros pt-5" id="nosotros">
      <h3 class="display-4 text-center titulo-nosotros">Nosotros</h3>
      <div class="row">
        <p class="text-center parrafo-nosotros"> Te ayudamos a potenciar tu iniciativa, deseo de logro y de realización
          de tus
          proyectos.
          En especial, aquellos que se orientan al desarrollo
          y penetración de nuevos mercados con la región de Latino-América.
          Te asesoramos y orientamos poniendo a tu disposición un “puente”
          efectivo de integración comercial entre el mercado de origen y tu
          mercado destino objetivo. Nuestra oferta de valor tiene énfasis,
          precisamente, en el país de tu mercado destino objetivo. Te aportamos
          agregados fundamentales como es la cercanía y el conocimiento de tu cliente/mercado objetivo
          o potencial cliente/mercado objetivo.</p>
      </div>
    </div>


    <div class="container-fluid mt-5 nosotros">
      <div class="row">
        <div class="col-md-6">
          <h3 class="display-4 text-center titulo-mision">MISIÓN</h3>
          <p class="text-center parrafo-mision"> Somos una organización conformada por profesionales emprendedores y
            multidisciplinarios de distintas culturas, orientados a la integración, cooperación y la interdependencia.
            Ofrecemos al mercado de las PYME y algunas instituciones (de apoyo a la promoción exportadora) servicios
            profesionales especializados en comercio exterior e internacionalización de la empresa.
            Te ayudamos a potenciar tu iniciativa, deseo de logro y de realización de tus proyectos. En especial,
            aquellos que se orientan al desarrollo y penetración de nuevos mercados con la región de Latino-América.
            Te asesoramos y orientamos poniendo a tu disposición un “puente” efectivo de integración comercial entre el
            mercado de origen y tu mercado destino objetivo. Nuestra oferta de valor tiene énfasis, precisamente, en el
            país de tu mercado destino objetivo. Te aportamos agregados fundamentales como es la cercanía y el
            conocimiento de tu cliente/mercado objetivo o potencial </p>
        </div>
        <div class="col-md-6">
          <h3 class="display-4 text-center titulo-vision">VISIÓN</h3>
          <p class="text-center parrafo-vision">
            Seremos para el 2020 una organización con presencia “puente” entre España y Latino-América consolidada,
            integrada, coordinada y altamente efectiva, con procesos de comunicación sustentados en tecnología de
            punta; con PYME y Asociados cooperando y satisfechos por ver encausados en la práctica sus procesos de
            exportación e internacionalización.
            Apoyaremos a futuras PYME y Asociados con información en diferentes sectores de la economía, promoviendo
            siempre la utilización de este conocimiento. Este conocimiento será impulsado a mercados potenciales,
            sirviendo de enlace con países en desarrollo en la transferencia de tecnología y en busca de un mejor nivel
            de vida para todos, con criterios de sostenibilidad y con fundamentos en la dignidad humana.
          </p>
        </div>

      </div>

  </section>

  <!-- /empresa -->


  <!--  casos de exito  -->
  <div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h3 class="display-4 text-center titulo-servicios">Servicios</h3>
      <section id="nosotros">
        <div class="container-fluid d-flex justify-content-center">
          <div class="row mt-5 mb-2">
            <div class="col-md-4">
              <div class="card card-shipping" style="width: 18rem;">
                <img class="card-img-top" src="/img/barco2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title mb-4">Shipping</h5>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Ver Más
                  </button>
                </div>
              </div>
            </div>
            <!-- -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Shipping</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Logistica desde el puerto donde embarca el contenedor hasta el puerto de destino, entendemos el
                    valor de su traslado por eso ofrecemos un servicio de excelencia.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4  mb-2">
              <div class="card card-movimiento" style="width: 18rem;">
                <img class="card-img-top mb-1" src="/img/camion.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title mb-4">Movimiento de Carga</h5>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
                    Ver Más
                  </button>
                </div>
              </div>
            </div>
            <!-- aca termina camiones -->
            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle1">Transporte terrestre</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Brindamos el servicio de traslado de contenedores, por eso contamos con una flota de camiones
                    propio, con conductores altamente especializados en el movimiento de carga por ruta.

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- aca arranca contenedores -->
            <div class="col-md-4  mb-2">
              <div class="card card-contenedores" style="width: 18rem;">
                <img class="card-img-top mb-2" src="/img/contenedor.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title mb-4">Contenedores</h5>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
                    Ver Más
                  </button>
                </div>
              </div>
            </div>
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Contenedores</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Amplia variedad de contenedores, sea lo que vaya a transportar, tenemos el contenedor que usted necesita.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!--  /casos de exito  -->

  <!-- imagen y texto1 -->
  <div class="content">
    <h3 class="text-center llegamos">LLegamos a todo el mundo</h3>
    <div class="container">
      <h4 class="text-center parrafo-llegamos">Sabemos de la importancia de contar con un servicio responsable, para
        acercar sus
        productos a
        cualquier parte del planeta.
      </h4>
    </div>

  </div>
  <!-- /imagen y texto1 -->

  <!-- Ubicación -->

  <div class="container pt-5 pb-5 nosotros" id="ubicacion">
    <div class="row">
      <div class="col-md-6 direccion-1">
        <h3 class="display-4 text-center">Visitenos</h3>
        <h4 class="text-center pt-5 pb-5">Oficina Buenos Aires</h4>
        <p class="text-center"><i class="fa fa-map-marker fa-2x" style="color: black;" aria-hidden="true"> </i>
          Cerrito 1987 2°B, Capital Federal, Argentina</p>
        <p class="text-center"> <i class="fa fa-phone-square fa-2x" style="color: black;" aria-hidden="true"></i>
          +54 1145245865</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center mapa-1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1952.7737893031062!2d-58.381921041770426!3d-34.600091165258966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac872e67b97%3A0x304a8e70313b9263!2sAvenida+C%C3%B3rdoba+%26+Cerrito%2C+C1055+CABA!5e0!3m2!1ses-419!2sar!4v1540234478953"
          width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="container pt-5 pb-5 nosotros">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center mapa-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2299.523496569434!2d-68.30526418435869!3d-54.805917280310744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbc4c22dfe77f1157%3A0xb413e0e67c1f1568!2sAv.+San+Mart%C3%ADn+345%2C+V9410BFD+Ushuaia%2C+Tierra+del+Fuego!5e0!3m2!1ses-419!2sar!4v1540235976456"
          width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6  justify-content-center direccion-2">
        <h4 class="text-center pt-5 pb-5 ">Oficina Usuahia</h4>
        <p class="text-center"><i class="fa fa-map-marker fa-2x" style="color: black;" aria-hidden="true"> </i>
          Av San martin 352, Usuahia, Argentina</p>
        <p class="text-center"> <i class="fa fa-phone-square fa-2x" style="color: black;" aria-hidden="true"></i>
          +54 3452358795</p>
      </div>
    </div>
  </div>
  <!-- Ubicación -->



  <% include partials/footer.ejs %>
</body>

</html>